/*******************************************************
 * Animations.css
 *
 * Folha de css responsável pelas animações da aplicação
 *******************************************************
 */

@keyframes answering {
	25% {background-color: darkorange;}
	to {background-color: rgba(255, 255, 255, .2);}
}

@keyframes slideInTop {
	from {opacity: 0; position: relative; top: 70px;}
	to {opacity: 1; position: relative; top: 0;}
}

@keyframes slideOutDown {
	from {opacity: 1; position: relative; top: 0;}
	to {opacity: 0; position: relative; top: 70px;}
}

@keyframes smallToBig {
	from {font-size: 50pt}
	50% {font-size: 80pt;}
	to {font-size: 50pt}
}