@import 'animations.css';

* {
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
	object-fit: cover;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	-webkit-transition: 1s all;
	   -moz-transition: 1s all;
		-ms-transition: 1s all;
	     -o-transition: 1s all;
			transition: 1s all;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/**
 * TRABALHANDO NO MENU
 */

.menu {
	display: flex;
	min-height: 70px;
	background-color: darkorange;
	align-items: center;
	justify-content: space-between;
}

.menu-help {
	display: flex;
}

.menu-help-link {
	color: white;
	font-weight: bold;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
}

.menu-help-link:hover {
	background-color: rgba(0, 0, 0, .4);
}

.menu-help-link i {
	padding: 10px;
	border-radius: 50%;
}

/**
 * TRABALHANDO NA SECÇÃO DE PERGUNTAS E RESPOSTAS
 */

.main-section {
	background-color: #AAA;
	min-height: calc(100vh - 70px);
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.question-text {
	font-size: 25pt;
	margin-bottom: 20px;
}

.answer-list {
	width: 450px;
}

.answer-item {
	margin: 10px auto;
	display: flex;
}

.answer-link {
	padding: 20px;
	border-radius: 10px;
	flex-basis: 100%;
	font-size: 20px;
	font-weight: bolder;
	color: white;
	position: relative;
	background-color: rgba(255, 255, 255, .2);
}

.answer-link.animated {
	animation: answering 1s infinite;
}


.answer-link.correct {
	background-color: rgba(0, 255, 0, .6);
}


.answer-link.wrong {
	background-color: rgba(255, 0, 0, .9);
}

.answer-line {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .4);
	padding: 20px;
}

.answer-link:hover {
	color: white;
	background-color: darkorange;
}