/*********************************************
 * Style.css
 *
 * Folha de css responsável por toda aplicação
 *********************************************
 */

@import 'animations.css';

* {
	margin: 0;
	padding: 0;
	border: none;
	overflow-x: hidden;
	object-fit: cover;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	-webkit-transition: 1s all;
	   -moz-transition: 1s all;
		-ms-transition: 1s all;
	     -o-transition: 1s all;
			transition: 1s all;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*::selection {
	color: white;
	background-color: darkorange;
}

body {background-color: #AAA;}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}

/**
 * TRABALHANDO NO MENU
 */

.menu {
	display: flex;
	min-height: 70px;
	background-color: darkorange;
	align-items: center;
	justify-content: space-between;
}

.question-position {
	padding: 10px;
	color: white;
	font-weight: bolder;
}

.menu-help {
	display: flex;
}

.menu-help-link {
	cursor: help;
	color: white;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	border-radius: 0;
	background-color: transparent;
}

.menu-help-link[disabled], .menu-help-link[disabled]:hover {
	background-color: rgba(255, 255, 255, .7);
	border: 1px solid rgba(0, 0, 0, .02);
	cursor: no-drop;
}

.menu-help-link:hover {
	background-color: rgba(0, 0, 0, .4);
}

.menu-help-link i {
	padding: 10px;
	border-radius: 0;
	width: 100%;
}

.menu-help-link i, .menu-help-link span {
	display: block;
	padding: 10px 20px;
	flex-basis: 100%;
}

/**
 * TRABALHANDO NA SECÇÃO DE PERGUNTAS E RESPOSTAS
 */

.main-section {
	min-height: calc(100vh - 80px);
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.question-text {
	font-size: 25pt;
	margin-bottom: 20px;
}

.answer-list {
	width: 450px;
}

.answer-item {
	margin: 10px auto;
	display: flex;
}

.answer-link {
	padding: 20px 50px;
	border-radius: 10px;
	flex-basis: 100%;
	font-size: 18px;
	font-weight: bolder;
	color: white;
	position: relative;
	background-color: rgba(255, 255, 255, .2);
}

.answer-link.animated {
	animation: answering 1s infinite;
}

.answer-link.correct, .answer-link.correct:hover {
	background-color: rgba(0, 255, 0, .6);
}

.answer-link.wrong, .answer-link.wrong:hover {
	background-color: rgba(255, 0, 0, .9);
}

.answer-link.idea, .answer-link.idea:hover {
	background-color: turquoise;
}

.answer-line {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	padding: 20px;
}

.answer-link:hover {
	color: white;
	background-color: darkorange;
}


/**
 * TRABALHANDO NA SECÇÃO DE MENSAGENS DE RESULTADOS
 */

.results-section {
	position: absolute;
	padding: 10px;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	width: 30%;
	overflow: hidden;
}

.result {
	margin: 5px;
	padding: 15px 25px 15px 15px;
	color: #FFF;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .2);
	position: relative;
	display: flex;
	align-items: center;
}

.close-result-button {
	color: #FFF;
	cursor: pointer;
	padding: 0 10px;
	font-size: 10pt;
	background-color: transparent;
	position: absolute;
	right: 0;
}

.result-success {
	background-color: #0F0A;
}

.result-error {
	background-color: #F00A;
}

.result-warning {
	background-color: darkorange;
}

.slideInTop {
	animation: slideInTop 2s;
}

.slideOutDown {
	animation: slideOutDown 2s;
}